.titre {
    border: 1px none blue;
    background-color: rgba(135, 210, 235, 1);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Inknut Antiqua; */


}

.welcome {
    border: 1px none, blue;
    background-color: rgba(186, 243, 226, 1);
    width: 100%;
    margin-top: 20px;
    text-align: center;
    height: 100px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptif {
    border: 1px none blue;
    background-color: rgba(150, 217, 165, 1);
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin-top: 10%;
}

.container {
    display: flex;
    justify-content: end;
    


}

.imgsuivant {
    width: 10%;
    position: absolute;
    bottom: 0%;
    display: flex;
    height: 10%;
    object-fit: contain;
    width: 100%;
    justify-content: end;
}

body {
    background-color: rgba(243, 233, 210, 1);
}


/*...............................................................................................*/


/* fichier recherche */

.containercarte {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/plan-toulouse.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.search{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
}
#searchbar{
    margin-top: auto;
    margin-left: auto;
    height: 40px;
    width: 300px;
    margin-top: 10px;
}
.valider{
    width: 30px;
    height: 30px;
    align-items: center;
    margin-left: 10px;
}

.container-title{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    bottom: 10px;

  
}
.velo-disponible{



}
.velo-indisponible{
    
}
.boite-disponible{
    width: 50px;
}
.boite-indisponible{
    width: 50px;

    /* fichier stations */
}
.imggo{
    display: flex;
    width: 20px;
    height: 20px;
}
h3{
    text-align: center;
}
.bdp{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    justify-content: space-around;
    width: 100%;

}
.imgretour{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30px;
    height:30px;
}
.imgfavoris{
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 30px;
}
.imgsuivante{
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 30px;
}
.station{
    border-radius: 5px;
} */

/* .station li{ */
.stations ul li{
    display: flex;
    border-color: black;
}
.pointeur{
    width: 50px;
    margin-left: 400px;
}
.here{
    margin-left: 400px;
    font-weight: bold;
}
.rond{
    width: 20px;
    margin-left: 400px;
    margin-top: 200px;

}
.dispo{
    width: 30px;
}
